@charset "UTF-8";

body {
    background-image: linear-gradient(to top, rgba(126, 121, 121, 0.877), rgba(255, 252, 252, 0.904));
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: auto;
    margin: 0px;

}

h1 {
    font-family: "Nerko One", cursive;
    text-align: center;
    font-size: 50px;
    max-width: 100%;
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.image-masculino {
    width: 50%;
    height: 100%;
    object-fit: cover;
    background-image: url(../img/M_BC_LG_OME02_July24_DI3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.image-feminino {
    width: 50%;
    height: 100%;
    object-fit: cover;
    background-image: url(../img/W_BC_LG_Babylone2_July24_DI3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#masculino {
    position: relative;
    top: 50%;
    text-align: center;
}

#feminino {
    position: relative;
    top: 50%;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

li a{
    font-family: "Playpen Sans",cursive ;
    color: black;
    vertical-align: top;
    margin: 0 5px;
    
    
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin-left: -35px;
    margin-top: -5px;
    
}


.dropdown-link {
    text-decoration: none;
    padding: 1px;
    font-size: 16px;
    
  }

  .dropdown-link:hover, .dropdown-link:focus {
    background-color: #3e8e41;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  

  .dropdown-link:hover + .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }